---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
title: "Cadalus FAQ";
description: "Frequently asked questions about Cadalus, its development, and its adoption in the AEC industry.";
---

<ArticleLayout>
  <section id="FAQ">
    <h1>FAQ</h1>
    <p>or rather, miscellanious problems and solutions.</p>

    <h2>How to ensure adoption of Cadalus?</h2>
    <p>
      The industry is caught in a chicken-and-egg problem at the moment:
      Everyone uses AutoCAD, ArchiCAD and Revit, therefore universities teach AutoCAD, ArchiCAD and
      Revit, therefore everyone learns AutoCAD, ArchiCAD and Revit, therefore everyone
      uses AutoCAD, ArchiCAD and Revit. To break this cycle, Cadalus needs to have
      explicit support from the industry, so universities can confidently start
      teaching Cadalus. By using a co-op model, the industry is involved from the
      start.
    </p>

    <h2>Should Cadalus be free?</h2>
    <p>
      Ideally, yes. Charging for the software creates an unnecessary barrier in
      an already fairly gatekept industry. Given the strong professionalization
      of the user base, there's a strong sales argument to pay for high-priority
      bugfixes and support (becoming a member), to avoid a day of lost work or
      downtime. If Hans-Peter can now lay out his living room slightly better,
      or Dmitry from Unregulatistan now is able to design a building which won't
      fall over – that's great, but also not the sort of audience which would
      have paid for such a software to begin with.
    </p>

    <h2>Should Cadalus be open source?</h2>
    <p>
      As a Blender extension, it is required to be. However, even if it wasn't,
      there is a good reason to go open source: To avoid the risk of vendor
      lock-in, to encourage interoperability, and to avoid the risk of
      mismanagement ruining the software forever – you can always fork.
    </p>

    <h2>
      Are there regulations, Norms, Lobbying, which requires proprietary
      solutions?
    </h2>
    <p>
      Maybe. But for once, the lobby is on our side: There are very few creators
      of proprietary CADs and BIMs, but a lot of AEC businesses responsible for
      unimportant things like our entire built environment. Whatever regulations
      in place surely can be adapted to allow for something like Cadalus to
      exist.
    </p>

    <h2>Is there a financial reason to become a Cadalus member?</h2>
    <p>
      At its current rate of 460€/month, across a 40 year carreer, the average
      architect can expect to pay 220k € to Autodesk. Given there no doubt will
      be price hikes throughout, this number can be expected to grow well beyond
      a quarter million euros, per architect. Cadalus meanwhile would be more
      like an investment: Once the software is mature, you may choose to drop
      out of the co-op, and keep using the software – for free. In the long run,
      this will save you a lot more money.
    </p>
  </section>
</ArticleLayout>
