---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout>
  <section id="FAQ">
    <h2>FAQ</h2>
    <p>or rather, miscellanious problems and solutions.</p>
    <p>
      <strong>How to ensure adoption of Cadalus?</strong> The industry is caught
      in a chicken-and-egg problem at the moment: Everyone uses AutoCAD and Revit,
      therefore universities teach AutoCAD and Revit, therefore everyone learns
      AutoCAD and Revit, therefore everyone uses AutoCAD and Revit. To break
      this cycle, Cadalus needs to have explicit support from the industry, so
      universities can confidently start taching Cadalus. By using a co-op model,
      the industry is involved from the start.
    </p>
    <p>
      <strong>Should Cadalus be free?</strong> Ideally, yes. Charging for the
      software creates an unnecessary barrier in an already fairly gatekept industry.
      Given the strong professionalization of the user base, there's a strong
      sales argument to pay for high-priority bugfixes and support (becoming
      a member), to avoid a day of lost work or downtime. If Hans-Peter can now
      lay out his living room slightly better, or Dmitry from Unregulatistan
      now is able to design a building which won't fall over – that's great,
      but also not the sort of audience which would have paid for such a software
      to begin with.
    </p>
    <p>
      <strong>Should Cadalus be open source?</strong> As a Blender extension,
      it is required to be. However, even if it wasn't, there is a good reason
      to go open source: To avoid the risk of vendor lock-in, to encourage
      interoperability,
      and to avoid the risk of mismanagement ruining the software forever – you
      can always fork.
    </p>
    <p>
      <strong
        >Are there regulations, Norms, Lobbying, which requires proprietary
        solutions?</strong
      > Maybe. But for once, the lobby is on our side: There are very few creators
      of proprietary CADs and BIMs, but <em>a lot</em> of <abbr>AEC</abbr> businesses
      responsible for unimportant things like <em
        >our entire built environment</em
      >. Whatever regulations in place surely can be adapted to allow for
      something like Cadalus to exist.
    </p>
    <p>
      <strong
        >Is there a financial reason to become a Cadalus member?</strong
      >
      At its current rate of 460€/month, across a 40 year carreer, the average
      architect can expect to pay 220k € to Autodesk. Given there no doubt will
      be price hikes throughout, this number can be expected to grow well beyond
      a quarter million euros, per architect. Cadalus meanwhile would be more
      like an investment: Once the software is mature, you may choose to drop
      out of the co-op, and keep using the software – for free. In the long run,
      this will save you a lot more money.
    </p>
  </section>
</ArticleLayout>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .small {
    font-size: smaller;
  }
</style>
