---
import TableComponent from "../../components/Table.astro";
import Layout from "../../layouts/Layout.astro";

const oneTimeExpenses = {
  title: "One-time expenses",
  headers: ["Item", "Cost (€)"],
  rows: [],
};

const recurringExpenses = {
  title: "Recurring expenses",
  headers: ["Item", "Cost (€)"],
  rows: [
    ["Personnel – Product owner", 72000],
    ["Designer", 54000],
    ["Developer lead", 66000],
    ["Developer (3D/math/backend)", 60000],
    ["Developer (frontend/integrations)", 60000],
    ["QA", 48000],
    ["cadalus.org domain", 20],
    ["Figma", 816],
    ["Groupware (Email server)", 396],
    ["Total/year", 361232],
  ],
};

const recurringIncome = {
  title: "Recurring income",
  headers: ["Item", "Amount (€)"],
  rows: [
    ["50 Full members @ 500€/month", 276000],
    ["150 supporting members @ 50€/m", 90000],
    ["Total/year", 366000],
  ],
};

const summary = {
  title: "Summary",
  headers: ["Metric", "Amount (€)"],
  rows: [
    ["Total cost (first year)", 361232],
    ["Total balance (first year)", 4768],
  ],
};

export const frontmatter = {
  title: "Cadalus Financial Plan - Stage 2",
  description: "This configuration marks a fully featured team. In principle, development in this configuration could carry on indefinitely and build Stage 2-5s of Cadalus, eventually. The salary also now vaguely industry-compatible.",
};
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main>
    <h1>{frontmatter.title}</h1>

    <TableComponent {...summary} />
    <TableComponent {...oneTimeExpenses} />
    <TableComponent {...recurringExpenses} />
    <TableComponent {...recurringIncome} />
  </main>
</Layout>

<style>
  main {
    max-width: 64rem;
    margin: 4em auto;
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
  }

  h1 {
    margin-bottom: 1.5rem;
  }
</style>
