---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout>
  <section id="realization">
    <h2>Realization</h2>
    <p>
      Cadalus requires comparatively few resources to get started. The
      equivalent of 8 seat licenses of the Autodesk <abbr
        title="architecture, engineering and construction">AEC</abbr
      >
      Collection would be enough to hire a full-time employee, so to complete stage
      two with with six employees, an equivalent of 50 seat licenses might well be
      enough. This means if only 1% of the architecture firms in Denmark alone would
      be willing to support this initiative, this project would be sustainable.
    </p>
    <h3>Technical realization</h3>
    <p>
      On a technical level, Cadalus will most likely be a Blender extension.
      Doing so has various advantages:
    </p>
    <ul>
      <li>
        Blender will be part of the chain anyway – at latest in the
        visualization stage.
      </li>
      <li>
        It's widely known that Blender is a powerful 3D editor, though maybe
        lesser known that it's a powerful 2D drawing and vector graphics editor
        as well, with its grease pencil and curve editor.
      </li>
      <li>
        Being a Blender extension means that a lot of the difficult technical
        work – UI system, data model, data management, etc. – is already done,
        and can be used by Cadalus. This massively cuts back on development
        time.
      </li>
    </ul>
    <h3>Organizational realization</h3>
    <p>
      A European Co-op (SCE) likely would be the best approach here. Individuals
      and architecture firms would join the coop, and both finance the
      operations of the development, and oversee the direction of the
      development. Details may be found in <a href="/articles of association"
        >the articles of association</a
      >.
    </p>
    <p>
      For example, a full membership might be 500€/month (the price of a single
      Autodesk <abbr title="architecture, engineering and construction"
        >AEC</abbr
      >
      Collection license), with supporting memberships below that level being available.
      Members with a full membership get to vote on what features get implemented
      next, to ensure that the development is in line with their very real needs.
      Supporting members may leave suggestions, but won't have the ability to directly
      influence development.
    </p>
    <p>
      With this model, the co-op would be sustainable extremely quickly. If the
      members feel this price is too high, they might vote to lower the
      membership fee. Likewise, if they feel more development is needed, they
      might vote to increase membership fees, or figure out other means to
      invest into the co-op – or charge non-members for access to the software.
    </p>
    <p>
      Unlike a normal corporation, this model also avoids a misalignment of
      interests: A VC-funded corporation would enjoy a period of hypergrowth
      where they de-throne the encumbents, but very quickly pivot to being
      comparable to the encumbents, with incredible pricing and draconian terms,
      to make up the 1000x ROI the investors so desperately seek. A co-op,
      funded by members which are also its customers, cannot experience this
      misalignment.
    </p>
  </section>
</ArticleLayout>