---
import ButtonGroup from './ButtonGroup.astro';
import type { ButtonProps } from './Button.astro';

const heroContent = {
  title: "Welcome to Cadalus",
  description: "A European cooperative alternative to architectural CAD and BIM programs",
  buttons: [
    {
      text: "Learn more",
      href: "#features",
      variant: "primary"
    },
    {
      text: "Get involved",
      href: "#roadmap",
      variant: "secondary"
    }
  ] satisfies ButtonProps[]
};
---

<section class="hero">
  <div class="hero-content">
    <h1>{heroContent.title}</h1>
    <p class="hero-description">
      {heroContent.description}
    </p>
    <ButtonGroup buttons={heroContent.buttons} />
  </div>
</section>

<style>
  .hero {
    height: 33vh;
    min-height:20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c4b82;
    background-image: repeating-linear-gradient(
      45deg,
      #1c4b82,
      #1c4b82 20px,
      rgba(255, 255, 255, 0.1) 20px,
      rgba(255, 255, 255, 0.1) 40px
    );
    border-bottom: 16px solid #2f598c;
  }

  .hero-content {
    text-align: center;
  }

  .hero-description {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
  }
</style>
