---
import ButtonGroup from './ButtonGroup.astro';
import type { ButtonProps } from './Button.astro';
import { t } from '../i18n/config';
import { getLocaleFromContext, localePath } from '../i18n/astro';
const locale = getLocaleFromContext(Astro);

const heroContent = {
  title: t(locale,'title','hero'),
  description: t(locale,'description','hero'),
  buttons: [
    { text: t(locale,'buttonJoin','hero'), href: '#join', variant: 'primary' },
    { text: t(locale,'buttonDocs','hero'), href: localePath(locale,'/docs'), variant: 'secondary' }
  ] satisfies ButtonProps[]
};
---

<section class="hero">
  <div class="hero-content">
    <h1>{heroContent.title}</h1>
    <p class="hero-description">
      {heroContent.description}
    </p>
    <ButtonGroup buttons={heroContent.buttons} />
  </div>
</section>

<style>
  .hero {
    height: 33vh;
    min-height:20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c4b82;
    background-image: repeating-linear-gradient(
      45deg,
      #1c4b82,
      #1c4b82 20px,
      rgba(255, 255, 255, 0.1) 20px,
      rgba(255, 255, 255, 0.1) 40px
    );
    border-bottom: 16px solid #2f598c;
  }

  .hero-content {
    text-align: center;
  }

  .hero-description {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
  }
</style>
