---

---

<div id="container">
	<main>
		<section id="hero">
			<h1>Cadalus</h1>
		</section>
		<section id="mission">
			<h2>Mission</h2>
			<p>
				Cadalus is a project to free the architecture, engineering and
				construction industry (AEC) from the constraints of proprietary
				software.
			</p>
			<p>
				Over the past 40 years, the AEC industry has been dominated by a
				few proprietary software vendors, which has led to a lack of
				innovation and user experience stagnation. The main developments
				in the industry has been new and exciting monetization
				strategies, from overpriced updates to overpriced subscriptions,
				to finally overpriced and hard-to-calculate token-based pricing.
			</p>
			<p>
				Cadalus is to provide a European, free and independent
				alternative to proprietary CAD, BIM and Archiviz software which
				nevertheless remains interoperable with existing workflows.
			</p>
		</section>
		<section id="goals">
			<h2>Goals</h2>
			<p>
				Replacing an entire tech stack is best done incrementally, step
				by step. Each step individually is designed to provide value to
				the AEC community.
			</p>
			<h3>Stage 1: Quick sketches and floorplans</h3>
			<p>
				Being able to quickly generate sketches and floorplans is the
				core feature.
			</p>
			<p>
				Plans should be easy and fast to create, with the program
				intelligently layouting the document to create a high-quality
				output which can be used by builders without further tweaking.
			</p>
			<h3>Stage 2: Sketch to 3D geometry</h3>
			<p>
				CAD sketches by definition contain all measurements necessary to
				construct a 3D environment. This process should happen
				automatically (perhaps: in the background), to create a fast
				check with a three-dimensional reality and quickly spot
				impossibilities.
			</p>
			<h3>Stage 3: Geometry to visualizations</h3>
			<p>
				Once 3D geometry exists, the European open source program <a
					href="https://blender.org">Blender</a
				> can take over and do PBR materials, lighting, animation and rendering.
				Blender has started doing massive strides recently, and outperforms
				many commercial applications already. Cadalus would provide a method to integrate with Blender
				to create high-quality visualizations of the 3D geometry.
			</p>
			<h3>Stage 4: A fully-fledged BIM</h3>
			<p>description here</p>
		</section>
	</main>
</div>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
		padding: 1rem;
	}
</style>
