---
import Navbar from "../components/navbar.astro";
import { I18nextProvider } from 'astro-i18next';
import { getI18n } from 'astro-i18next';

const i18n = getI18n();

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description } />
    <title>{title}</title>
  </head>
  <body>
    <I18nextProvider i18n={i18n}>
      <Navbar />
      <div class="content">
        <slot />
      </div>
    </I18nextProvider>
  </body>

  <style>
    html, body, .content {
      margin: 0;
      width: 100%;
      min-height: 100vh;
      font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
        Arial, sans-serif;
      background-color: #1c4b82;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.1) 2px,
          transparent 2px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.05) 1px,
          transparent 1px
        );
      background-size:
        50px 50px,
        50px 50px,
        10px 10px,
        10px 10px;
      background-position:
        -1px -1px,
        -1px -1px,
        -1px -1px,
        -1px -1px;
    }

    .content::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(
        circle at center,
        transparent 0%,
        rgba(28, 75, 130, 0.4) 100%
      );
      pointer-events: none;
      z-index: 0;
    }

    slot {
      position: relative;
      z-index: 1;
    }
  </style>
</html>
